$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

$body-bg: #D3A8FF;
$flash-color: #fbf8b2;

$body-color: #18151A;
$link-color: #382313;
$btn-bg: #C33601;
$btn-color: lighten($btn-bg, 50%);
$secondary-bg: #F1EED9;

$waycolor: $link-color;
$text_background: $body-bg; // can be btn-bg
