@import "mixins";
@import "variables";
// Bootstrap v4 stripped core
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/normalize";
@import "bootstrap/scss/print";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
//@import "bootstrap/scss/buttons";

//@import "bootstrap/scss/animation";
//@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/nav";
@import "bootstrap/scss/responsive-embed";
@import "bootstrap/scss/utilities";

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: $body-bg;
}
.content {
  @include col(10, 12);
  @media (min-width: breakpoint-min(sm)) {
    @include make-col-offset(1);
  }
  .pic {
    text-align: center;
    margin-bottom: 1em;
  }
  p {
    hyphens: auto;
  }
  padding: 1em;
  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
  ul.options {
    padding: 0;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    border-radius: 4px;
    li {
      padding: 0.5em;
    }
    li:hover {
      cursor: pointer;
    }
    li:last-child {
      border-bottom: none;
    }
  }
  .situation-start {
    border-top: none;
  }
  img.right {
    float: right;
    margin: 1.1em 0 1.1em 1.1em;
  }
  img.left {
    float: left;
    margin: 1.1em 1.1em 1.1em 0;
  }
  h3 {
    text-align: center;
  }
}

.center {
  text-align: center;
}

#erase {
  width: 100%;
  text-align: center;
  clear: both;
  position: absolute;
  bottom: 3em;
  z-index: 0;
}
#content_wrapper {
  z-index: -1;
}

#content {
  font-size: 2rem;
  z-index: -1;
  position: relative;
}

#create {
  color: red;
  display: none;
  position: absolute;
  right: 100px;
  bottom: 100px;
  font-size: 2.3rem;
  cursor: pointer;
  span {
    color: blue;
  }
  tt {
    color: green;
  }
  b {
    color: orange;
  }
}
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: $flash-color; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: $flash-color; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: $flash-color; }
    100% { background-color: none; }
}
